img {
    width: 100%;
}

body {
    margin: 0;
}

.hero-header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    width: 100%;
    padding: 15px;
    color: black;
    background-color: rgb(168, 168, 168);
    box-sizing: border-box;
    font-size: x-large;
    height: 100px;
    margin-top: -28px;
}

.hero-image {
    background-image: url(../images/liverpool.jpg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pl-logo-text {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    width: 100%;
    font-size: x-large;
    margin-top: 125px;
}

.pl-logo {
    width: 400px;
    margin: auto;
    margin-top: -30px;
}

.pl-trophy-image {
    width: 400px;
    margin: auto;
    margin-top: 200px;
}

.pl-logo-two-column-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 90%;
    margin-top: 60px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: large;
}

.pl-trophy-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 350px;
    width: 90%;
    margin-top: 60px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: large;
}