img {
    width: 100%
}

body {
    margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

.hero-image {
    background-image: url(images/brazil-6755874.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.hero-text {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: black;
    background-color: rgb(168, 168, 168);
    box-sizing: border-box;
}

.logo-link-header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-top: 100px;
    font-size: 45px;
}



.three-column-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.three-column-layout-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 75%;
    margin: auto;
    background-color: rgb(242, 174, 27,);
    margin-top: 20px;
}

.two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    width: 33%;
    margin: auto;
    margin-top: 60px;
}

.two-column-layout-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: rgb(242, 174, 27,);
    margin-top: 20px;
}

.information-header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-top: 100px;
    font-size: 45px;
}

.information-paragraph {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -30px;
    font-size: 17px;
    line-height: 25px;
    font-family: 'lato', sans-serif;
}

.bottom-hero-image {
    background-image: url("images/brazil-6755878.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    margin-top: 100px;
}

/* Start of PL page */

.pl-hero-header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    width: 100%;
    padding: 15px;
    color: black;
    background-color: rgb(168, 168, 168);
    box-sizing: border-box;
    font-size: x-large;
    height: 100px;
    margin-top: -13px;
}

.pl-hero-image {
    background-image: url(images/liverpool.jpg);
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pl-logo-header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    width: 100%;
    font-size: x-large;
    margin-top: 125px;
}


.pl-logo-trophy-two-column-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    gap: 70px;
    margin-top: 60px;
    margin: auto;
    text-align: justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: large;
}

.pl-trophy-header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    width: 100%;
    font-size: x-large;
    margin-top: 100px;
    margin-bottom: 70px;
}

.pl-information-winners-header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    width: 100%;
    font-size: x-large;
    margin-top: 100px;
}

.pl-information-winners-text {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'lato', sans-serif;
    margin-bottom: 50px;
}

.club-four-column-layout {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    gap: 50px;
}
